.md-grid {
    max-width: 70rem !important;
}

.md-typeset img, .md-typeset svg {
    border: 0.0454rem solid #ECEEF0;
}

.md-typeset h1,h2,h3,h4 {
    font-weight: 600 !important;
}

.md-typeset a {
    color: #4051b5;;
}

.md-nav[data-md-level="0"] > .md-nav__list .md-nav__link {
    color: #333333;
    font-weight: 500;
}

.md-nav[data-md-level="0"] > .md-nav__list .md-nav__link:hover {
    color: var(--md-accent-fg-color);
}

.md-nav[data-md-level="1"] > .md-nav__list .md-nav__link {
    color: #333333;
    font-weight: 400;
}

.md-nav[data-md-level="2"] > .md-nav__list .md-nav__link {
    color: #666666;
    font-weight: 400;
}

.md-nav[data-md-level="3"] > .md-nav__list .md-nav__link {
    color: #999999;
    font-weight: 400;
}

.md-nav .md-nav__list .md-nav__item .md-nav__link--active {
    color: var(--md-typeset-a-color);
}

.md-nav--secondary .md-nav__link {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 240px;
    display: inline-block;
}

.md-nav__link[data-md-state=blur] {
    color: rgba(0,0,0,.54);
}

.md-nav__link--passed {
    color: rgba(0,0,0,.54);
}

.md-sidebar--secondary {
    width: auto;
}

:root> * {
    --md-default-fg-color--light: hsla(0, 0%, 20%, 1);
    --md-accent-fg-color: hsla(24, 100%, 50%, 1);
    --md-typeset-a-color: hsla(24, 100%, 50%, 1);
}

:root {
    --md-search-result-icon: url('/images/search_result.png');
    --md-clipboard-icon: url('/images/copy.png');
    --md-nav-icon--next: url('/images/right.png');
}

.md-content {
    max-width: 960px;
}

.md-search-result__more summary {
    color: currentColor;
}

.md-search__icon {
    text-align: center;
    line-height: 1rem;
}

.md-search__icon img {
    width: 0.8rem;
    height: 0.8rem;
    vertical-align: middle;
}

.md-nav__icon {
    display: flex;
    align-items: center;
}

.md-nav__icon:hover {
    background-color: #fff;
}

.md-nav--primary .md-nav__link .md-nav__icon::after {
    width: 10px;
    height: 10px;
}

.md-nav--primary .md-nav__link[for=__toc] .md-icon::after {
    width: 100%;
    height: 100%;
}

.md-search-result__more summary:is(:focus, :hover) {
    color: #526cfe
}

.md-clipboard {
    width: 1em;
    height: 1em;
}

.md-clipboard::after {
    width: 0.8em;
    height: 0.8em;
}

.md-clipboard:is(:focus, :hover) {
    color: currentColor;
}

.md-typeset .highlighttable > tbody > tr > .code > div > pre:not(:hover) .md-clipboard {
    color: transparent;
}

.md-search-result__meta {
    background-color: #fff;
}

.md-typeset .doc_footer * {
    margin: 0;
    padding: 0;
    border: none;
}

.md-typeset .doc_footer .doc-content-section ul {
    margin: 0 !important;
}

.md-typeset .doc_footer .doc-content-section ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.md-typeset .doc_footer {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    font-size: 0.7rem;
    flex-wrap: wrap;
}

.md-typeset .doc_footer .doc-content-section {
    margin-right: 4.5rem;
}

.md-typeset .doc_footer .doc-content-section:nth-child(3) {
    flex: 1;
    margin-right: 0;
}

.md-typeset .doc_footer .doc-content-section .section-title {
    color: #e7eaf2;
    font-size: 0.8rem;
    margin-bottom: 1em;
}

.md-typeset .doc_footer .doc-content-section .text-link {
    color: var(--md-footer-fg-color--light);
    cursor: pointer;
    line-height: 1.5;
    position: relative;
}

.md-typeset .doc_footer .doc-content-section .text-link .hover-item {
    display: none;
    position: absolute;
    top: 110%;
    padding: 0.2rem;
    background-color: #fff;
    color: #333;
    border-radius: 4px;
    z-index: 1;
    white-space: nowrap;
}

.md-typeset .doc_footer .doc-content-section .text-link:hover {
    color: var(--md-typeset-a-color);
}

.md-typeset .doc_footer .doc-content-section .text-link:hover .hover-item {
    display: block;
}

.md-typeset .doc_footer .doc-content-section .text-link a:hover {
    color: var(--md-typeset-a-color);
}

.md-footer-meta {
    padding-top: 1rem;
}

.md-copyright {
    width: 100% !important;
    margin-top: 1rem;
    border-top: 0.0454rem solid #2f3142;
}

.md-copyright__highlight {
    text-align: center;
}

.md-typeset .doc_footer .doc-content-section .authorized-certification {
    display: flex;
    justify-content: space-between;
}

.md-typeset .doc_footer .doc-content-section .authorized-certification .text-link {
    margin-right: 1rem;
}

.md-typeset .doc_footer .doc-content-section .authorized-certification .text-link:last-child {
    margin-right: 0;
}

.md-nav__item--nested .md-nav__toggle:checked~.md-nav__link .md-nav__icon {
    padding-top: 0.227rem;
}

.loginBtn {
    margin-left: 2rem;
}

.loginBtn .register-btn {
    display: inline-block;
    text-decoration: none;
    width: 5rem;
    text-align: center;
    height: 1.8rem;
    line-height: 1.8rem;
    border-radius: 0.1rem;
    font-size: 14px;
    color: #eee;
    background-color: #f60;
}

.loginBtn .register-btn:hover {
    opacity: 0.7;
}

@media screen and (max-width: 59.9375em) {
    .md-search__icon .zy__search {
        display: none;
    }
    .md-nav__item--nested .md-nav__toggle:checked~.md-nav__link .md-nav__icon {
        padding-top: 0;
    }
    .loginBtn {
        display: none;
    }
    .md-typeset .doc_footer {
        padding: 0 1rem;
    }
}